@import '../../utils.scss';

$image-width: 300px;
$image-height: 168px;

.video-link{
    margin-bottom: 2em;
    &:hover{
        .video-tile{
            &:not(.none)::after{
                cursor: pointer;
                display: block;
                content:'';
                position: absolute;
                width: 100%;
                height: $image-height;
                background-color: rgba(1, 1, 1, 0.3);
                transform: translate(0%, -100%);
            }
            &:not(.none){
                transform: scale(1.05);
            }
        }
    }
}

$sprite-width: 1440px;
$sprite-height: 1080px;

.video-tile{
    position: relative;
    &:hover{
        .play{
            display: block;
            position: absolute;
            z-index: 1;
            left: 110px;
            top: 44px;
            width: 80px;
            height: 80px;
        }
    }
    .play{
        display: none;
    }
    .image-wrapper{ 
        @include image-scale-with-classname(dresa, 300px, 168px, $sprite-width, $sprite-height, 0.64, 240px, 135px);
        @include image-scale-with-classname(neosound, 300px, 168px, $sprite-width, $sprite-height, 0.64, 720px, 135px);
        @include image-scale-with-classname(stildi, 300px, 168px, $sprite-width, $sprite-height, 0.64, 1200px, 135px);
        @include image-scale-with-classname(skilterra, 300px, 168px, $sprite-width, $sprite-height, 0.64, 240px, 405px);
        @include image-scale-with-classname(magerwox, 300px, 168px, $sprite-width, $sprite-height, 0.64, 720px, 405px);
        @include image-scale-with-classname(island, 300px, 168px, $sprite-width, $sprite-height, 0.64, 1200px, 405px);   

        @include image-scale-with-classname(woxy, 300px, 168px, $sprite-width, $sprite-height, 0.64, 240px, 675px);
        @include image-scale-with-classname(newyear, 300px, 168px, $sprite-width, $sprite-height, 0.64, 720px, 675px);
        @include image-scale-with-classname(legalmap, 300px, 168px, $sprite-width, $sprite-height, 0.64, 1200px, 675px);
        @include image-scale-with-classname(island2, 300px, 168px, $sprite-width, $sprite-height, 0.64, 240px, 945px);
        @include image-scale-with-classname(bank, 300px, 168px, $sprite-width, $sprite-height, 0.64, 720px, 945px);
        @include image-scale-with-classname(pour, 300px, 168px, $sprite-width, $sprite-height, 0.64, 1200px, 945px);   

        &.none{
            overflow: hidden;
            width: $image-width;
            height: $image-height;
            opacity: 0;
        }     
    }
    // &.slit-in-vertical{
    //     -webkit-animation: slit-in-vertical 0.45s ease-out both;
    //             animation: slit-in-vertical 0.45s ease-out both;
    // }
    &.show{
        -webkit-animation: show 0.8s normal both;
                animation: show 0.8s normal both;
    }
    &:not(.appear){
        opacity: 0;
    }
}


@-webkit-keyframes slit-in-vertical {
0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
}
54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
}
100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
}
}
@keyframes slit-in-vertical {
0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
}
54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
}
100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
}
}

@-webkit-keyframes show {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes show {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  