@import '../../keyframes.scss';

$transitiionPoint: 40em;

@include keyframes(menu-panel-animation) {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-panel{
    display: flex;
    align-items: center;
    position: relative;
    animation: menu-panel-animation 1s linear;
    .shortcut{
        display: none;
        @media only all and (max-width: $transitiionPoint){
            display: flex;
            padding: 0 1.5em;
        }
    }
    .full{
        @media only all and (max-width: $transitiionPoint){
            display: none;
            &.show{
                width: auto;
                padding: 0 1em;
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 2em;
                left: 0;
                text-align: center;
            }
        }
        width: 25rem;
        display: flex;
        justify-content: space-between;
    }
}