@font-face{
    font-family: 'Roboto';
    src: url(Roboto-Regular.ttf);
}

@font-face{
    font-family: 'Garamond';
    src: url(EBGaramond-Regular.ttf);
}

$mainFont: Roboto;
$regularFont: Garamond;

@mixin regular{
    font-family: $regularFont;
    font-size: 1.4rem;
}

@mixin regular-small{
    font-family: $regularFont;
    font-size: 1.1rem;
}

@mixin main{
    font-family: $mainFont;
    font-size: 1.0rem;
    font-weight: bold;
}

$alertColor: #FF2A00;
$regularColor: #C9EC23;
$primeColor: #00171F;
$auxColor: #E4EDF1;

$width: 60em;

p, h1, h2, h3{
    margin: 0;
    padding: 0;
}

.app-wrapper{
    color: $primeColor;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &.show-calc-app{
        height: 100vh;
    }
    .app{
        width: $width;
        .menu-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}