@import '../utils';
@import '../App.scss';
@import '../keyframes.scss';

@mixin up-down($name, $start, $end, $duration,  $delay) {
    animation: up-down-#{$name} $duration linear $delay infinite;

    @keyframes up-down-#{$name}{
        0%{
            background-color: rgb(255, 105, 105);
            transform: translateY($start);
        }
        50%{
            background-color: rgb(255, 105, 180);
        }
        100%{
            transform: translateY($end);
            background-color: rgb(255, 105, 105);
        }
    }
}

@mixin left-right($name, $start, $end, $duration, $delay) {
    animation: left-right-#{$name} $duration linear $delay infinite;
    @keyframes left-right-#{$name}{
        0%{
            transform: translateX($start);
            background-color: rgb(255, 105, 105);
        }
        50%{
            background-color: rgb(255, 105, 180);
        }
        100%{
            transform: translateX($end);
            background-color: rgb(255, 105, 105);
        }
    }
}

@include keyframes(welcome-text-animation) {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome-block{
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $regularFont;
    font-size: 1.4em;
    .welcome-text{
        width: 25rem; //22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: welcome-text-animation 1s linear;
        .welcome-headline{
            font-family: $mainFont;
            font-size: 1.0rem;
            font-weight: bold;
            line-height: 2.3rem;
        }
        .welcome-order{
            a{
                color: #FF2A00;
                text-decoration: none;
            }
            
        }
        // .welcome-description{
        //     line-height: 2.2rem;
        // }
    }
    .media-wrapper{ 
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .left-right-wrapper{
            display: flex;
            flex-direction: row;
            overflow: hidden;   
            .welcome-image-wrapper{
                @include image-scale(512px, 304px, 868px, 1017px, 0.8, 548px, 190px);
                margin: 0em;
            }
            .left, .right{
                width: 0px;
                border-radius: 5px;
                //height: 100%;
            }
            .left{
                &.first{
                    @include up-down(first, 0%, 100%, 2s, 0s); //6s  
                }
            }
            .left{
                &.animation{
                    @include up-down(up, -100%, 100%, 4s, 2s); //6s 
                }
            }
            .right{
                &.animation{
                    @include up-down(down, 100%, -100%, 4s, 2s); //2s
                }
            }
        }
        .top, .bottom{
            width: 100%;
            height: 0px;
            border-radius: 5px;
            //background-color: goldenrod;
        }
        .top{
            &.animation{
                @include left-right(left, 100%, -100%, 4s, 0s); //4s
            }
        }
        .bottom{
            &.animation{
                @include left-right(bottom, -100%, 100%, 4s, 0s); //0s
            }
            
        }
    }
}




